[Desktop Entry]
Name=1Password
Actions=QuickAccess;
Exec=/opt/1Password/1password %U
Terminal=false
Type=Application
Icon=1password
StartupWMClass=1Password
Comment=Password manager and secure wallet
MimeType=x-scheme-handler/onepassword;
Categories=Office;

[Desktop Action QuickAccess]
Name=Open a New Tab
Icon=tab-new
Exec=/opt/1Password/1password --quick-access %U
X-KDE-Shortcuts=Ctrl+Shift+Space
