{{ if ne .chezmoi.os "windows" -}}

#!/usr/bin/env bash
# Creates ~/.local/share/zsh/site-functions directory to support user-scoped completions

mkdir -p "$HOME/.local/share/zsh/site-functions"

{{ end -}}