<?xml version="1.0" encoding="UTF-8"?>
<provider id="google">
  <name>Google</name>
  <icon>im-google</icon>
  <translations>kaccounts-providers</translations>
  <template>
    <group name="auth">
      <setting name="method">oauth2</setting>
      <setting name="mechanism">user_agent</setting>
      <group name="oauth2">
        <group name="user_agent">
          <setting name="ClientId">{{ onepasswordRead .cloud.accounts.google.credentials.clientId }}</setting>
          <setting name="ClientSecret">{{ onepasswordRead .cloud.accounts.google.credentials.clientSecret }}</setting>
          <setting name="AuthPath">https://accounts.google.com/o/oauth2/auth</setting>
          <setting name="TokenPath">https://oauth2.googleapis.com/token</setting>
          <setting name="RedirectUri">http://127.0.0.1/oauth2redirect</setting>
          <setting name="Scope" type="as">['https://www.googleapis.com/auth/calendar','https://www.googleapis.com/auth/tasks','https://www.googleapis.com/auth/carddav']</setting>
        </group>
      </group>
    </group>
  </template>
</provider>
