[hooks]
on_create = ["mise trust"]
on_destroy = ["mise untrust"]
on_launch = ["mise install --locked -yq"]

[sandbox]
{{ if eq .chezmoi.os "darwin" -}}
container_runtime = "apple_container"
{{- else -}}
container_runtime = "podman"
{{- end -}}
{{ if and (eq "linux" .chezmoi.os) (eq "fedora" .chezmoi.osRelease.id) -}}
selinux_relabel = true
{{- end }}

[session]
click_action = "select_only"
default_attach_mode = "tmux"
default_tool = "opencode"
new_session_attach_mode = "tmux"
yolo_mode_default = true
auto_resume_on_restart = false

[worktree]
delete_branch_on_cleanup = true
enabled = true
