{{- /* TODO: render MCP configurations like this
       reference https://www.kimi.com/code/docs/en/kimi-code-cli/customization/mcp.html */ -}}
{{- /* TODO: make figma-auth supports kimi code as well. (Kimi code is not compatible as well)
       reference https://github.com/MoonshotAI/kimi-code repository for how oauth tokens are saved */ -}}
{
  "mcpServers": {
    "figma": {
      "type": "http",
      "url": "https://mcp.figma.com/mcp"
    }
  }
}