[Desktop Entry]
Type=Application
Name=kitty
GenericName=Terminal emulator
Comment=Fast, feature-rich, GPU based terminal
Exec={{ .chezmoi.homeDir }}/.local/share/kitty/current/bin/kitty
TryExec={{ .chezmoi.homeDir }}/.local/share/kitty/current/bin/kitty
Icon={{ .chezmoi.homeDir }}/.local/share/kitty/current/share/icons/hicolor/256x256/apps/kitty.png
Terminal=false
Categories=System;TerminalEmulator;
Keywords=terminal;shell;prompt;command line;kitty;
StartupNotify=true
StartupWMClass=kitty
