[Desktop Entry]
Type=Application
Name=WinBox
GenericName=RouterOS Manager
Comment=Configure and manage MikroTik RouterOS devices
Exec={{ .chezmoi.homeDir }}/.local/share/winbox/WinBox
Icon={{ .chezmoi.homeDir }}/.local/share/winbox/assets/img/winbox.png
Path={{ .chezmoi.homeDir }}/.local/share/winbox
Terminal=false
Categories=Network;RemoteAccess;
Keywords=mikrotik;routeros;router;winbox;network;
StartupNotify=true
StartupWMClass=WinBox
