davmail.server=true
davmail.mode=O365Graph
davmail.bindAddress=127.0.0.1
davmail.allowRemote=false
davmail.disableUpdateCheck=true
davmail.caldavPort={{ .cloud.accounts.personalMs.davmail.caldavPort }}
davmail.popPort=
davmail.imapPort=
davmail.smtpPort=
davmail.ldapPort=
davmail.oauth.clientId={{ onepasswordRead .cloud.accounts.personalMs.credentials.clientId }}
davmail.oauth.clientSecret={{ onepasswordRead .cloud.accounts.personalMs.credentials.clientSecret }}
davmail.oauth.tenantId=consumers
davmail.oauth.tokenFilePath={{ .chezmoi.homeDir }}/.local/state/davmail/personal-tokens.properties
davmail.logFilePath={{ .chezmoi.homeDir }}/.local/state/davmail/personal-davmail.log
