{{ if ne .chezmoi.os "windows" -}}
#!/usr/bin/env bash

set -euo pipefail

op read "op://tjlmijoc5qxj6vypdnvxf6s2sq/gmwqu34rldszc6qtas2i3ejiaq/4v5dbrerpkyiueq2st26sswzna" | gpg --batch --import
expect -c 'spawn gpg --edit-key {{ .user.gpgPubKey | quote }} trust quit; send "5\ry\r"; expect eof'

{{ end -}}