{{- $kimiForCodingApiKey := onepasswordRead "op://Private/Kimi/API Key" -}}
{{- $zaiCodingPlanApiKey := onepasswordRead "op://Private/Z.ai/API Key" -}}
{
  "kimi-coding": {
    "type": "api_key",
    "key": "{{- $kimiForCodingApiKey -}}"
  },
  "zai": {
    "type": "api_key",
    "key": "{{- $zaiCodingPlanApiKey -}}"
  }
}
