[General]
DisplayName=Corporate Microsoft Calendar (Read-Only)
Path={{ onepasswordRead .cloud.accounts.corporateMs.credentials.icsUrl }}
Url={{ onepasswordRead .cloud.accounts.corporateMs.credentials.icsUrl }}
ReadOnly=true
PeriodicUpdate=true
UpdateInterval=30
RefreshInterval=30
SyncInterval=30
