[General]
DisplayName=Personal Microsoft Calendar (Read-Only)
Path={{ onepasswordRead .cloud.accounts.personalMs.credentials.icsUrl }}
Url={{ onepasswordRead .cloud.accounts.personalMs.credentials.icsUrl }}
ReadOnly=true
PeriodicUpdate=true
UpdateInterval=30
RefreshInterval=30
SyncInterval=30
