[General]
DisplayName=Corporate Microsoft Calendar & Tasks
RefreshInterval=30
SyncInterval=30
Url=http://127.0.0.1:{{ .cloud.accounts.corporateMs.davmail.caldavPort }}/
CalDavUrl=http://127.0.0.1:{{ .cloud.accounts.corporateMs.davmail.caldavPort }}/
